# These values are stored in our Doppler instance and are written ephemerally to the environment when the application is run.
# Use this file as a template for what you'll need to set in Doppler.

# Authorization
AUTHORIZATION_SIGNING_SECRET=

# D1 database
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_D1_TOKEN=
CLOUDFLARE_DATABASE_ID=  # Must match the name configured in wrangler.jsonc

# Environment
NODE_ENV=development
