# Authorization
AUTHORIZATION_SIGNING_SECRET=

# D1 database
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_D1_TOKEN=
CLOUDFLARE_DATABASE_ID=  # Must match the name configured in wrangler.jsonc

# Environment
NODE_ENV=development
