# These values are stored in our Doppler instance and are written ephemerally to the environment when the application is run.
# Use this file as a template for what you'll need to set in Doppler.

# Authorization
AUTHORIZATION_SIGNING_SECRET=

# Cloudflare D1 database
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_D1_TOKEN=
CLOUDFLARE_DATABASE_ID=  # Must match the name configured in wrangler.jsonc

# CORS
CORS_ALLOWED_HEADERS=
CORS_ALLOWED_ORIGINS=
CORS_ALLOWED_METHODS=
CORS_VARY=
X_POWERED_BY=

# Environment
NODE_ENV=development
